.card {
  display: flex;
  width: 200px;
  height: 250px;
  overflow: hidden;
  box-sizing: border-box;
}

/*Estilos para img-background*/

.img-background {
  overflow: hidden;
  object-fit: contain;
  width: 200px;
  height: 250px;
  position: relative;
  border-radius: 5px;
}

.card:hover {
  border: 0.1rem solid rgb(78, 78, 78);
  border-radius: 5px;
}

.img-background img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
.img-background img:hover {
  transform: scale(2) translateX(25%); /* Aumenta el tamaño y desplaza hacia la derecha */
}

/*Estilos para Social Info*/
.social-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 250px;
  transition: opacity 0.5s ease;
}

.social-information img {
  width: 18px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.card:hover .social-information {
  opacity: 1;
  z-index: 1;
}

.card:hover .social-information ~ .img-background img {
  transform: scale(2) translateX(25%);
}
