main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 55vw;
  background:
    linear-gradient(rgba(0, 0, 0, 0.945), #222222d7);
}

.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1.6rem 2.5rem;
  box-sizing: border-box;
  text-align: left;
}

h2, p{ 
  margin: 0px 0px 15px 0px ;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 15px;
}

button {
  width:fit-content ;
  border: 0.1rem solid transparent;
  border-radius: 5px;
  background-color: #2e55d4;
  font-size: 14px;
  padding: 10px 14px;
}

button:hover {
  cursor: pointer;
  background-color: #2e55d4bd;
}
  
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px 14px;
  border: 0.1rem solid #949494;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #313131b2;
  font-size: 14px;
}

.form-group textarea {
  resize: none;
  height: 100px;
}

input:focus,
textarea:focus {
  border: 0.1rem solid #ad99cc;
  outline: none;
}

.img-form {
  overflow: hidden;
  border-radius: 0 10px 10px 0;
}
  
.img-form img {
  width: 100%;
  height: 100%;
  filter: blur(2px); /* aplica desenfoque a una imagen */  
  object-fit: cover;  
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    width: 90vw;
  }

  .img-form {
    width: 100%;
    box-sizing: border-box;
  }

  .img-form img {
    width: 100%;
    height: 150px;
  }
}