.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
}

.contact-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  padding: 50px;
  box-sizing: border-box;
  background:    
    radial-gradient(ellipse closest-corner at 10% 45%, #090230c0 10%, #100230c0 40%, #000000fd 100%, transparent),
    radial-gradient(circle at 50% 30%, #150638c0 10%, #06011dbe 25%, transparent 40%),
    radial-gradient(circle at 95% 90%, #070046c0 10%, #01051dc0 20%, transparent 30%),
    #000000;
}